@charset "utf-8";

.block {
	display: block;
}
.container {
	width: min(100% - 30px, 1200px);
	margin-inline: auto;
}

.flex {
	display: flex;
}
.f-col {
	flex-direction: column;
}

.circle {
	border-radius: 50%;
}

.cursor-pointer {
	cursor: pointer;
}